<div class="container">
  <div class="row">
    <div class="four columns">
      <h4>Remove Articles</h4>
      <div *ngFor="let article of articles" class="cards row">
        <div class="primary card">
          <div class="card-name tac primary-color">{{ article.title }}</div>
          <div class="card-body">
            <p class="tac primary-color">{{ article.brief }}</p>
            <p class="tac primary-color">{{ article.author }}</p>
            <a
              (click)="deleteArticle(article._id)"
              class="cust-sec-btn u-full-width button card-button"
              >Delete Article</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="four columns">
      <h4>Remove Reports</h4>
      <div *ngFor="let report of reports" class="cards row">
        <div class="primary card">
          <div class="card-name tac primary-color">{{ report.victimName }}</div>
          <div class="card-body">
            <p class="tac primary-color">Informed Anonymously</p>
            <a
              (click)="deleteReport(report._id)"
              class="cust-sec-btn u-full-width button card-button"
              >Delete Report</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="four columns">
      <h4>Remove Volunteers</h4>
      <div *ngFor="let volunteer of volunteers" class="cards row">
        <div class="primary card">
          <div class="card-name tac primary-color">{{ volunteer.name }}</div>
          <div class="card-body">
            <p class="tac primary-color">{{ volunteer.email }}</p>
            <p class="tac primary-color">{{ volunteer.phone }}</p>
            <a
              (click)="deleteVolunteer(volunteer._id)"
              class="cust-sec-btn u-full-width button card-button"
              >Delete volunteer</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
